@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

ul[data-type="taskList"],
ul:has(> li > input[type="checkbox"]) {
  list-style: none;
  padding-left: 0;
}

ul[data-type="taskList"] li,
li:has(> input[type="checkbox"]) {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

ul[data-type="taskList"] li > label {
  display: flex;
  align-items: center;
  user-select: none;
}

ul[data-type="taskList"] li > div > p {
  margin: 0;
}

ul[data-type="taskList"] input[type="checkbox"],
li:has(> input[type="checkbox"]) > input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}
